<<<<<<< HEAD

.App {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100vh;
  flex-direction: row;
}

.navbar-custom {
  font-size:large;
}

.navbar__link {
  margin-left: 0.75em;
  margin-right: 0.75em;
  font-size: 1em;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: .1em;
  text-indent: .3em;
  border-bottom: 3px solid transparent;
}

.navbar__link::after {
  transition: all ease-in-out .2s;
  background: none repeat scroll 0 0;
  content: "";
  display: block;
  margin-top: 2px;
  height: 3px;
  width: 0;
}

 .navbar__link:hover::after {
  visibility: visible;
  width: 40%;
}

.navbar__link--active::after {
  transition: all ease-in-out .2s;
  width: 100%;
}

.navbar__link--active:hover::after {
  width: 100%;
}

.MainApp {
  margin-top: 8vh;
  height: 90vh;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.section-content-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.Typewriter {
  display: inline-block;
}

.Typewriter__wrapper {
  font-size: xx-large;
  font-weight: bold;
}

.Typewriter__cursor {
  font-size: xx-large;
  font-weight: bold;
}

section.timeline-card-content {
  justify-content: center;
}

section.timeline-card-content p.card-title {
  font-size: 1.5em;
  margin-top: 25px;
}

section.timeline-card-content p.card-sub-title {
  font-size: 1.25em;
  margin-top: 10px;
}

section.timeline-card-content div.card-description > p {
  font-size: 1.1em;
  margin-top: 10px;
  font-weight: 500;
}

.social {
  position: relative;
  margin-top: 60px;
}


@media only screen and (min-width: 768px) and (max-width: 992px) {

  .navbar__link {
    margin-left: 0.4em;
    margin-right: 0.4em;
    font-size: 0.9em;
    cursor: pointer;
    letter-spacing: .1em;
    text-indent: .2em;
  }
}

@media (max-width: 768px) {

  .navbar__link::after {
    background: none;
    content: "";
    display: none;
    margin-top: 0;
    height: 0;
    width: 0;
  }

  .navbar__link--active::after {
    width: 0;
  }
  
  .navbar__link--active:hover::after {
    width: 0;
  }

  .navbar__link:hover::after {
    width: 0;
  }
}

.header {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 25px;
}

=======
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  background-color: purple;
}

body {
  background-color: #000;
  color: #fff;
  scrollbar-width: thin;
  scrollbar-color: #804dee #ddd;
}

body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
/* aa  */
body::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom right, #4d7fff 0%, #804dee 100%);
  border-radius: 5px;
}
 
body::-webkit-scrollbar-track {
  background-color: #000;
  border: 1px solid #4d7fff;
  border-radius: 1rem;
}

body::-webkit-scrollbar-button {
  display: none;
}

.hero {
  position: relative;
  min-height: 100vh;
  background-image: url('./media/herobg.png');
  background-size: cover;
  animation: moveBackground 20s linear infinite;
}

@keyframes moveBackground { 
  0% {
    background-position: 0 0;
  }

  25% {
    background-position: 75% 45%;
  }

  50% {
    background-position: 100% 100%;
  }

  75% {
    background-position: 45% 75%;
  }

  100% {
    background-position: 0 0;
  }
}

a {
  text-decoration: none !important;
}

main {
  margin-top: 2rem;
}

.slick-arrow {
  display: none !important;
}

.about-me {
  background-image: url('./media/color-ball.png');
  background-size: cover;
  animation: moveBackground 20s infinite 0.5s;
}

.modal-content {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.modal-content img {
  filter: drop-shadow(3px 3px 5px #804dee) sepia(0) drop-shadow(-3px -3px 5px #804dee);
}

.carousel-indicators {
  bottom: -40px !important;
}

#link .fa-arrow-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  padding: 1rem;
  background-color: inherit;
  border-radius: 50%;
  border: 1px solid violet;
  z-index: 8;
}

.link {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 0.5s;
}

.link:hover {
  color: black;
  background-color: white;
}

@media screen and (max-width: 769px) {
  #link .fa-arrow-up {
    font-size: small;
    bottom: 10px;
    right: 10px;
  }

  #link {
    background-color: #000;
  }

  .text {
    margin-right: 0 !important;
  }
}
>>>>>>> 5b8c48d20a7a26600f2840b110a1bc877dc062b7
